*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

/* Nav left section */
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Menu button + icon */
#nav h3, #nav i{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

/* Logo */
#nav h2{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

/* Base button style */
.btn{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-size: 16px;
    font-weight: 500;
    background-color: whitesmoke;
    cursor: pointer;
}

/* Login button */
.btn-login{
    background-color: whitesmoke;
    color: black;
}

/* Sign in button */
.btn-primary{
    background-color: orangered;
    color: white;
    border: none;
}

#main > h1{
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    object-position: top;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

#pic1{
    transform: translate(-50%, -50%) rotate(-28deg);
}

#pic2{
    transform: translate(-50%, -50%) rotate(-21deg);
    object-position: bottom;
}

#pic3{
    transform: translate(-50%, -50%) rotate(-14deg);
}

#pic4{
    transform: translate(-50%, -50%) rotate(-7deg);
    object-position: center;
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 15px;
}