*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

p{
    background: linear-gradient(orange, red);
}

#Hello{
    color: brown;
    background-color: beige;
    font-family: monument;
}

#box{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
#box2{
    height: 400px;
    width: 400px;
    background-color: brown;
    margin-left: 200px;
    margin-top: 100px;
}