*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

p{
    background: linear-gradient(orange, red);
}

h1{
    color: brown;
    background-color: beige;
    font-family: monument;
}

#box{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
#box2{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}