/* Global Reset + Typography */
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* background: linear-gradient(135deg, #eb0303, #ff6b02) no-repeat; */
  color: azure;
  background-size: cover;
  height: max-content;
  color: brown;
  
  -webkit-font-smoothing: antialiased;
}

/* Main App Container */
.App {
  text-align: center;
  padding: 2rem;
}
