*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3{
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;
    cursor: pointer;
}

#intro{
    height: 40%;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 30px 50px;
}

#intro h1{
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -3px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#place h3, #place h4{
    font-size: 20px;
    font-weight: 600;
}

#hero-image{
    height: 80%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/20036258/pexels-photo-20036258.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

#about{
    height: 60%;
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

#about h2{
    width: 65%;
    font-size: 70px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: -3px;
    padding: 0 10px;
}

#about-socials{
    width: 40%;
    height: 100%;
    border-left: 2px solid #000;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-socials h3{
    font-size: 40px;
    font-weight: 600;
}

#icons i{
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 27px;
    border-radius: 25px;
    margin-right: 12px;
}